html {
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



button {
    width: 310px;
    background-color: #3aa6ff;
    border: 0;
    border-radius: 9px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding: 5px 40px;
    font-size: 16px;
    margin: 10px auto;    
}

.icon-facebook {
    float: left; 
    margin-left: 15px;
}

.entrar-com-facebook {
    float: left;
    margin-right: 15px;
}

.entrar-com-facebook span {
    float: left;
    margin-top: 5px;
}

.entrar-com-facebook .icon-facebook {
    float: left;
    margin-left: 15px;
    margin-right: 5px;
}

.linha {
    width: 310px;
    height: 24px;
    margin: 15px auto;
}

.linha div {
    border: 1px solid #DCDCDC;
    width: 125px;
    float: left;
    margin-top: 13px;
}

.linha span {
    float: left;
    font-size: 18px; 
    margin: 0 15px;
    color: #737373;
}

.logo {
    width: 200px;
    margin-top: 20px;
}

a {
    color: #004175;
    text-decoration: none;
}

h3 {
    width: 270px;
    color: #737373;
    margin: 15px auto;
}

input {
    background-color: #f7f7f7;
    padding: 10px 5px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    display: block;
    margin: 5px auto;
}

.cadastre-se {
    background-color: #68bbff;
    padding: 8px 40px;
}

.tem-uma-conta p, .aplicativos p {
    color: #000;
}

.tem-uma-conta a {
    color: #309ff9;
}

.tem-uma-conta {
    padding: 15px 20px !important;    
}

.caixa {
    width: 350px;
    margin: 10px auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.aplicativos {
    border: 0px;
}

.aplicativos img {
    width: 150px;
    height: 50px;
    margin: 0 2px;
}

.aplicativos .googleplay{
    border-radius: 5px;
}


p {
          /*top left button right*/
    margin: 15px 20px 15px 20px;
    color: #737373;
    font-size: 15px;
}

.espaco {
    height: 40px;
}
